<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") -%>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle Producto</title>
    <!------ header ------->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <style type="text/css">
      .product-small-img img {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 8px;
        margin: 10px 10px 15px;
        cursor: pointer;
      }
    </style>
</head>

<body>


  <%- include("./partials/header") -%>

    <main class="container">

      <!-- Imágenes del producto -->

      <div class="product" style="margin-left: 3em;">
        <div class="img-container">
          <img id="imageBox" src="/images/detalle/RAM-1.png">
        </div>
        <div class="product-small-img">
          <img src="/images/detalle/RAM-1.png" onclick="myFunction(this)">
          <img src="/images/detalle/ram2.PNG" onclick="myFunction(this)">
          <img src="/images/detalle/ram3.PNG" onclick="myFunction(this)">
          <img src="/images/detalle/ram4.PNG" onclick="myFunction(this)">
          <img src="/images/detalle/ram5.PNG" onclick="myFunction(this)">
        </div>
      </div>

      <script type="text/javascript">
        function myFunction(smallImg) {
          var fullImg = document.getElementById("imageBox");
          fullImg.src = smallImg.src;
        }
      </script>

      <!-- Descripción del producto -->
      <div class="product-description">
        <div class="ProductInfo">
          <span>
            <%- product.name -%>
          </span>
          <h3>
            <%- product.model -%>
          </h3>
          <p>
            <%- product.description -%>
          </p>

        </div>
        <!-- Precio del producto -->

        <div class="product-price">
          <span>
            <%- product.price -%>
          </span>
          <a href="/product" class="cart-btn">Agragar al carrito</a>
        </div>
      </div>
    </main>

    <!-- Especificaciones del producto || Más información -->

    <hr>
    <br>
    <div class="more-info">


      <div class="box">
        <div class="left">
          <div class="content">
            <h2>Especificaciones</h2>
            <br>
            Capacidad total: 8gb.
            <br>
            Tecnología: DDR4 SDRAM.
            <br>
            Velocidad: 3200 MHz.
            <br>
            Formato: SIMM.
            <br>
            Compatibilidad: computadoras de escritorio.
          </div>
        </div>
        <div class="right">
          <div class="content">
            <h2>Más información</h2>
            <br>
            Fabricante: VENGEANCE.
            <br>
            Marca: Corsair.
            <br>
            Línea: Vengance RGB Pro.
            <br>
            Modelo: CMW8GX4M1E3200C16.
            <br>
            Cantidad de pines: 288.
            <br>
            Tasa de transferencia: 25600 MB/s.
            <br>
            Latencia CAS: 16.
            <br>
            Voltaje de alimentación: 1.35V.
          </div>
        </div>
      </div>
</body>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<!------------------ footer------------------------->

<%- include("./partials/footer") -%>
  </body>