<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/home.css">
  <%- include("./partials/head") -%>

    <title>Proyecto</title>
    <!------ header ------->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!------ footer ------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HandTime</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body id="body">
  <!---------------- header--------- -->
  <%- include("./partials/header") -%>


    <div class="hero_area">

      <!-- slider section -->
      <section class="slider_section ">
        <div class="slider_bg_box">
          <img src="images/leon.jpg" alt="">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        True Tech
                      </h1>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis,
                        illo maxime voluptatem a itaque suscipit.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1">
                          Contact Us
                        </a>
                        <a href="" class="btn2">
                          About Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        True Tech
                      </h1>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis,
                        illo maxime voluptatem a itaque suscipit.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1">
                          Contact Us
                        </a>
                        <a href="" class="btn2">
                          About Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Stylish Watches
                      </h1>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis,
                        illo maxime voluptatem a itaque suscipit.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1">
                          Contact Us
                        </a>
                        <a href="" class="btn2">
                          About Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Stylish Watches
                      </h1>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis,
                        illo maxime voluptatem a itaque suscipit.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1">
                          Contact Us
                        </a>
                        <a href="" class="btn2">
                          About Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Stylish Watches
                      </h1>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis,
                        illo maxime voluptatem a itaque suscipit.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1">
                          Contact Us
                        </a>
                        <a href="" class="btn2">
                          About Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>

      </section>
      <!-- end slider section -->
    </div>


    <!-- service section -->

    <section class="service_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="images/feature-1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Entregas rápidas
                </h5>
                <p>
                  A partir de las 08:00 hasta las 19:00!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="images/feature-2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Entrega gratis
                </h5>
                <p>
                  A partir de una compra mínima de $4000
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="images/feature-3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Calidad en productos
                </h5>
                <p>
                 La mejor calidad de productos en todo el país
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="images/feature-4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Soporte técnico especializado
                </h5>
                <p>
                 Contamos con soporte técnico 24/7
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->





    <!-- product section -->

    <section class="product_section ">
      <div class="container">
        <div class="product_heading">
          <h2>
            Los más vendidos
          </h2>
        </div>
        <div class="product_container">
          <div class="box">
            <div class="box-content">
              <div class="img-box">
                <img src="<%= product[3].image %>" alt="">
              </div>
              <div class="detail-box">
                <div class="text">
                  <h6>
                    <%= product[3].name %> 
                  </h6>
                  <h5>
                    <span>$</span> <%= product[3].price %> 
                  </h5>
                </div>
                <div class="like">
                  <h6>
                    Like
                  </h6>
                  <div class="star_container">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <a href="">
                Add To Cart
              </a>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <div class="img-box">
                <img src="<%= product[4].image %> " alt="">
              </div>
              <div class="detail-box">
                <div class="text">
                  <h6>
                    <%= product[4].name %> 
                  </h6>
                  <h5>
                    <span>$</span> <%= product[4].price %> 
                  </h5>
                </div>
                <div class="like">
                  <h6>
                    Like
                  </h6>
                  <div class="star_container">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <a href="">
                Add To Cart
              </a>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <div class="img-box">
                <img src="<%= product[1].image %> " alt="">
              </div>
              <div class="detail-box">
                <div class="text">
                  <h6>
                    <%= product[1].name %> 
                  </h6>
                  <h5>
                    <span>$</span> <%= product[1].price %> 
                  </h5>
                </div>
                <div class="like">
                  <h6>
                    Like
                  </h6>
                  <div class="star_container">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <a href="">
                Add To Cart
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end product section -->





    <!-- jQery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="js/custom.js"></script>


    <%- include("./partials/footer") -%>
</body>

</html>