<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") -%>
        <link rel="stylesheet" href="/css/productCreation.css">
        <title>Creacion de Producto</title>
        <!------ header ------->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>

    <!---------------- header--------- -->
    <%- include("./partials/header") -%>
        <main>
            <div class="container1">
                <form action="/product/creation" method="POST" enctype="multipart/form-data" class="productForm">
                    <div class="row">
                        <h4>Producto</h4>
                        <div class="input-group input-group-icon">
                            <select name="category" id="category">
                                <% for( let i=0; i < categories.length; i++ ) { %>
                                    <option value="<%= categories[i].id %> ">
                                        <%= categories[i].name %>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="input-icon"><i class="fa fa-database" aria-hidden="true"></i></div>
                        </div>
                        <div class="input-group input-group-icon">
                            <div class="input-icon">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            </div>
                            <input type="name" name="name" placeholder="Nombre del producto" class="prodName" value="<%= locals.oldData ? oldData.name: null %>"/>
                            <% if (locals.errors && errors.name) { %>
                                <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;"><%= locals.errors.name.msg%></p>
                            <% } %>
                        </div>
                        <div class="input-group input-group-icon" id="table">
                            <div class="table-cell">
                                <textarea cols="80" placeholder="Descripción" name="description" class="description" style="resize:none" value="<%= locals.oldData ? oldData.description: null %>"></textarea>
                            </div>
                            <% if (locals.errors && errors.description) { %>
                                <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;"><%= locals.errors.description.msg %></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h4>Price</h4>
                            <div class="input-group input-group-icon">
                                <input placeholder="Precio" type="number" name="price" value="<%= locals.oldData ? oldData.price: null %>">
                                <div class="input-icon">$</div>
                                <% if (locals.errors && errors.price) { %>
                                    <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;"><%= locals.errors.price.msg %></p>
                                <% } %>
                            </div>
                        </div>
                        <div>
                            <h4>Imagen del producto</h4>
                            <div>
                                <div><input type="file" name="image" class="pImage" value="<%= locals.oldData ? oldData.image: null %>"></div>
                            </div>
                            <% if (locals.errors && errors.image) { %>
                                <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;"><%= locals.errors.image.msg %></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="lastRow" id="specsRow">
                        <h4>Especificaciones</h4>
                        <div class="spec " id="spec1">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT1" class="specName1" value="<%= locals.oldData ? oldData.specT1: null %>">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD1" class="specDesc1" value="<%= locals.oldData ? oldData.specD1: null %>">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec2">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT2" class="specName2">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD2" class="specDesc2">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec3">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT3" class="specName3">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD3" class="specDesc3">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec4">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT4" class="specName4">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD4" class="specDesc4">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec5">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT5" class="specName5">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD5" class="specDesc5">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec6">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT6" class="specName6">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD6" class="specDesc6">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec7">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT7" class="specName7">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD7" class="specDesc7">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec8">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT8" class="specName8">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD8" class="specDesc8">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec9">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT9" class="specName9">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD9" class="specDesc9">
                            </div>
                        </div>
                        <div class="spec specHidden" id="spec10">
                            <div class="specH1">
                                <input type="text" placeholder="Nombre de la Especificacion" name="specT10" class="specName10">
                            </div>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <div class="specH2">
                                <input type="text" placeholder="Descripcion de la Especificacion" name="specD10" class="specDesc10">
                            </div>
                        </div>
                        <div class="buttonsContainer">
                            </divclass>
                            <button type="button" class="specButton" id="addSpec">
                                Agregar Especificacion
                            </button>
                            <button type="button" class="specButton" id="removeSpec">
                                Quitar Especificacion
                            </button>
                        </div>
                    </div>
                    <!-- Cambiar esto para que al apretar el boton se cree el producto -->
                    <div class="entregar">
                        <button type="submit" class="ghost" id="signUp">Crear Producto</button>
                    </div>
                </form>
            </div>

        </main>
        <script type="text/javascript" src="/js/productCreation.js"></script>
        <%- include("./partials/footer") -%>
</body>
