<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") -%>
    <link rel="stylesheet" href="/css/product.css">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
   <!---------------- header--------- -->
   <%- include("./partials/header") -%>
    <!-- ------------------main----------------------------- -->
    <main>
      <div>
        <br>
        <button id='cart-button' class="trigger cart-button-style">Mostrar Carrito</button>
        <div id="search">
          <form action="/product/search" method="post">
            <div class="wrap">
                 <input type="text" class="searchTerm" placeholder="Buscar por nombre..." name="search">
                 <button type="submit" class="searchButton">
                   <i class="fa fa-search"></i>
                </button>
           </div>
          </form>
          
        </div>
        <div id="filter">
          <div>
            Filtro Por categoria
          </div>
          <div class="containerOptionsC">
            <% for( let i=0; i < categories.length; i++ ) { %>
              <a href="/product/filter/<%= categories[i].id %>" class="optionsC">
                <div class="optionsC">
                  <%= categories[i].name %>
                </div>
              </a>
              <% } %>
          </div>

        </div>
        <div id="shop">
          <div id="shop">
            <% if (product !== "VACIO"){ %>
              <% for( let i=0; i < categories.length; i++ ) { %>
                <div class="products" id="<%= product[i].id %>">
                  <a href="product/detail/<%=product[i].id%>"><img class="product-image" src="<%=product[i].image%>">
                  </a>
                  <p class="product-name">
                    <%= product[i].name%>
                  </p>
                  <p class="product-description">
                    <%= product[i].description%>
                  </p>
                  <p class="product-price" value='<%= product[i].price%>'>
                    <%= product[i].price%>
                  </p>
                  <button class="add-to-cart" id='test'>Agregar al carrito</button>
                </div>
                <% }} ; %>
                
                  <% if (filtered !== "VACIO" ){ %>
                    <% for( let i=0; i < filtered.length; i++ ) { %>
                    <div class="products" id="i">
                      <a href="product/detail/<%=filtered[i].id%>"><img class="product-image" src="<%=filtered[i].image%>">
                      </a>
                      <p class="product-name">
                        <%= filtered[i].name%>
                      </p>
                      <p class="product-description">
                        <%= filtered[i].description%>
                      </p>
                      <p class="product-price" value='<%= filtered[i].price%>'>
                        <%= filtered[i].price%>
                      </p>
                      <button class="add-to-cart" id='test'>Agregar al carrito</button>
                    </div>
                    <% }} %>
          </div>
        </div>
        <div id='cart-wrapper' class="slider close">
          <div id='cart'>
            <div id="cart-products-wrapper">
              <table id="cart-table">
                <thead id="cart-table-header">
                  <th class="name-col">Nombre del Producto</th>
                  <th class="quantity-col">Cantidad</th>
                  <th class="price-col">Precio</th>
                  <th class="updated-price-col">Precio actualizado</th>
                  <th class="update-col">Actualizar</th>
                  <th class="remove-col">Eliminar</th>
                </thead>
                <tbody id="cart-table-body"></tbody>
              </table>
            </div>
          </div>
          <div id='amount-controls'>
            <div id="cart-amount-wrapper">
              <table>
                <tbody>
                  <tr id='subtotal-wrappper'>
                    <td id="subtotal-label">Subtotal:</td>
                    <td id="subtotal">0.00</td>
                  </tr>
                  <tr id='total-wrapper'>
                    <td id="total-label">Total:</td>
                    <td id="total">0.00</td>
                  </tr>
                  <tr id="promo-checkout">
                    <td id="promo-wrapper">
                      <input id="promo" placeholder="Input Promo Code">
                      <button id="apply-promo">Apply Promo</button>
                    </td>
                    <td>
                      <button id="checkout">Checkout</button>
                    </td>
                    <td>
                      <button id="ks" class="keep-shopping">Keep Shopping</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="facilidad"><a href="./product/Create">ir a creacion de producto (link para que sea mas facil)</a>
        </div>
    </main>

    <!-------------------------------------- footer-------------------------------------------------- -->
    <%- include("./partials/footer") -%>

      <script type="text/javascript" src="/js/carrito.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>