<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") -%>
        <link rel="stylesheet" href="/css/productDetail.css">
        <title>Creacion de Producto</title>
        <!------ header ------->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <style type="text/css">
            .product-small-img img {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .2);
                padding: 8px;
                margin: 10px 10px 15px;
                cursor: pointer;
            }
        </style>
</head>

<body>
    <!---------------- header--------- -->
    <%- include("./partials/header") -%>

        <main>
            <form action="/product/update/<%- product.id -%>" method="POST" enctype="multipart/form-data">
                <div class="container">
                    <!-- Im치genes del producto -->
                    <div class="product">
                        <div class="img-container">
                            <img id="imageBox" src=" <%-product.image-%> ">
                        </div>
                        <input type="file" name="image" id="" class="pImage">
                    </div>
                    <script type="text/javascript">
                        function myFunction(smallImg) {
                            var fullImg = document.getElementById("imageBox");
                            fullImg.src = smallImg.src;
                        }
                    </script>
                    <!-- Descripci칩n del producto -->
                    <div class="product-description">
                        <div class="ProductInfo">
                            <span>
                                <input type="text" class="nameCss" value="<%- product.name -%>" name="name">
                            </span>
                            <textarea cols="80" class="descriptionCss" name="description" style="resize:none"><%- product.description -%></textarea>
                        </div>
                        <!-- Precio del producto -->
                        <div class="buttonsProduct">
                            <div class="product-price">
                                <span>
                                    $<input type="text" value=" <%- product.price -%>" name="price"> 
                                </span>

                            </div>
                            <!-- ------------------------------Mostrar solo a creador del producto----------------------------- -->

                        </div>

                    </div>
                </div>
                <!-- Especificaciones del producto || M치s informaci칩n -->
                <div class="more-info">
                    <h2>Especificaciones</h2>
                    <div class="contenido">
                        <% for( let i=0; i < spec.length; i++ ) { %>
                            <div class="inside">
                                <%- spec[i].title -%>
                                    <div class="resalted">
                                        : <%-spec[i].description -%>
                                    </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <div class="edit-product">
                    <button type="submit" class="cart-btn">Guardar Producto</button>
                </div>
            </form>
        </main>

</body>
<%- include("./partials/footer") -%>