<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") -%>

  <link rel="stylesheet" href="/css/register.css">
  <title>Register</title>
  <!------ header ------->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <!----------------------- header/nav var---------- -->
  <%- include("./partials/headerLR") -%>

  <main>

    <div class="container" id="container">

      <div class="form-container sign-in-container">
        <form action="/users/register" method="POST">
          <h1>Registrate</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>O usa tu email para registrarte</span>
           <% if (locals.errors && errors.username) { %>
            <div class="text-danger">
                <i class="fas fa-exclamation-circle">  </i>  <%= errors.username.msg %>
            </div>
            <% } %>
          <input type="text" placeholder="Name" name="userName" <%= locals.errors && errors.username ? 'is-invalid' : null %> value="<%= locals.oldData ? oldData.username : null %>"/>
         <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
              <i class="fas fa-exclamation-circle">  </i>  <%= errors.email.msg %>
          </div>
          <% } %>
          <input type="email" placeholder="Email" name="email"class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.email : null %>">
           <% if (locals.errors && errors.password) { %>
          <div class="text-danger">
              <i class="fas fa-exclamation-circle">  </i>  <%= errors.password.msg %>
          </div>
          <% } else {%>
              <i class="fas fa-eye eyePsw"></i>
              <% } %>
          <input type="password" placeholder="Password" name="password"class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.password : null %>">

      
          <a href="#">Ayuda para elegir una contraseña?</a>
          <div class="terminos">
            <% if (locals.errors && errors.terminos) { %>
              <input type="checkbox" name="terms" id="terminos">
              <label for="terminos" style="color: #dc3545;">Estoy de acuerdo con los <a
                      href="/terminos-y-condiciones">términos y condiciones</a></label>
              <% } else {%>
                  <input type="checkbox" name="terminos" id="terminos">
                  <label for="terminos">Estoy de acuerdo con los <a
                          href="/terminos-y-condiciones">términos y condiciones</a></label>
                  <% } %>
          </div>

          <button class="register-button" type="submit">Registrate</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Ya tenes una cuenta?</h1>
            <p>Ingresa tu infomacion personal y sigue navegando con nosotros</p>
            <button class="ghost" id="signUp"><a href="/users/login">Iniciar Sesion</a></button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>